{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}

{% block footer %}{% endblock %}

{% block body %}
    <div class="s1">
        <div class="s1-inner revealator-zoomin revealator-load revealator-position-partially-below">
            <div class="heading-group">
                <h1>Мы поможем вам</h1>
                <p>Отследить скидки и цены на товары</p>
            </div>
            <div class="divider-default"></div>
            <p class="desc">Многим покупателем не хватает небольшой скидки, чтобы купить товар. <br>
                Продавцам не хватает информации о таких клиентах, чтобы сделать скидку. <br>
                Мы помогаем продавцам и покупателям понять друг друга.
            </p>
            <div class="s1-buttons">
                <div class="button blue-button">Добавить товар</div>
                <div class="button" id="home-more">Узнать больше</div>
            </div>
        </div>
    </div>

    <div class="s2">
        <div class="s2-inner s-inner">
            <div class="flex-container s2-flex-container">
                <div class="s2-desc">
                    <div class="revealator-slideup revealator-once revealator-position-partially-below">
                    <h3 id="greatings">Всем привет! Это price-tracker.com</h3>
                    <div class="divider-default"></div>
                    </div>

                    <p class="heading-5 revealator-slideup revealator-once revealator-position-partially-below">Мы помогаем покупателям ослеживать цену товара, строить графики изменения цен с практически любых сайтов.
                    Также с помощью нашего сервиса, можно настроить оповещение о том, что цена товара упала на определенный процент.
                    </p>

                    <p class="heading-8 revealator-slideup revealator-once revealator-position-partially-below">Система автомитически следит за ценой товара. Вам не нужно каждый день заходить и отслеживать товар. Достаточно один раз
                    указать ссылку на страницу товара и указать процент, при котором нужно будет вас оповестить.
                        В личном кабинете вам будут доступны извещения о хоть каком-то увеличении или уменьшении цены товара.
                        <br> Все это абсолюно бесплатно.
                    </p>

                    <a href="{{ path('security_registration') }}" class="button gray-button revealator-slideup revealator-once revealator-position-partially-below" style="margin-left:0; margin-top:20px;">Начать бесплатно</a>

                </div>
                <div class="s2-image revealator-slideleft revealator-load revealator-once revealator-position-partially-below">
                    <img src="/build/images/home/graph-05.jpeg">
                </div>
            </div>
        </div>
    </div>

    <div class="s3">
        <div class="s3-inner s-inner">
            <div class="flex-container s3-flex-container">
                <div class="s3-item revealator-slideup revealator-once revealator-position-partially-below">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-line-chart"></div>
                        <h6>График цен</h6>
                    </div>
                    <div class="s3-item-body">
                        Вам будет доступна история изменения цен на товар в виде удобного графика. Вы сможете следить за честностью скидок.
                    </div>
                </div>
                <div class="s3-item revealator-slideup revealator-once revealator-delay2 revealator-position-partially-below">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-envelope-o"></div>
                        <h6>Оповещение</h6>
                    </div>
                    <div class="s3-item-body">
                        Вам не нужно ежедневно следить за ценой товаров на разных сайтах. Как только скидка достигнет нужного вам процента, вам придет оповещение об этом.
                    </div>
                </div>
                <div class="s3-item revealator-slideup revealator-once revealator-position-partially-below">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-dollar"></div>
                        <h6>Бесплатно</h6>
                    </div>
                    <div class="s3-item-body">
                        Сервисом можно пользоваться абсолютно бесплатно. Все что вам нужно, это зарегистрироваться и указать адрес страницы с товаром, который вас интересует.
                    </div>
                </div>
                <div class="s3-item revealator-slideup revealator-once revealator-delay2 revealator-position-partially-below">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-clock-o"></div>
                        <h6>Обновление</h6>
                    </div>
                    <div class="s3-item-body">
                        Данные о товарах обновляются ежедневно в автоматическом режиме.
                    </div>
                </div>
                <div class="s3-item revealator-slideup revealator-once revealator-position-partially-below">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-money"></div>
                        <h6>Выгода</h6>
                    </div>
                    <div class="s3-item-body">
                        Копейка рубль бережет. В личном кабинете вы всегда сможете узнать о снижении цены, даже если она не достигла нужного вам процента.
                    </div>
                </div>
                <div class="s3-item revealator-slideup revealator-once revealator-delay2 revealator-position-partially-below">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-phone"></div>
                        <h6>Связь с продавцом</h6>
                    </div>
                    <div class="s3-item-body">
                        Если много пользователей ожидает определенную скидку на товар. Мы можем связаться с продавцом и рассказать ему об этом. Тем самым выгоду получат все.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="s4">
        <div class="s4-inner s-inner">
            <div class="revealator-slideup revealator-once revealator-position-partially-below">
                <h3>Отслеживаемые сайты</h3>
                <div class="divider-default"></div>
            </div>
            <div class="flex-container s4-flex-container revealator-once revealator-slideup revealator-position-partially-below">
                <div class="s4-item">
                    <div class="s4-item-image">
                        <img class="img-circle" src="/build/images/sites/onliner300x300.jpg">
                    </div>
                    <div class="s4-item-desc">
                        <h5>onliner.by</h5>
                        <p>
                            Каталог магазинов
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="s5">
        <div class="s5-inner s-inner">
            <div class="revealator-slideup revealator-once revealator-position-partially-below">
                <div class="heading-group">
                    <h3>Отзывы</h3>
                </div>
                <div class="divider-default"></div>
            </div>
            <div class="flex-container s5-flex-container">
                <div class="s5-item revealator-slideup revealator-position-partially-below revealator-once">
                    <i class="s5-item-quote fa fa-quote-left"></i>
                    <p>Помогли мне сэкономить 10 проценов от моей покупки</p>
                    <div class="s5-item-user flex-container">
                        <div>
                            <img class="img-circle" src="/build/images/sites/onliner300x300.jpg">
                        </div>
                        <div class="desc">
                            <h5>Хмылко Владимир</h5>
                            <span>Программист</span>
                        </div>
                    </div>
                </div>

                <div class="s5-item revealator-slideup revealator-once revealator-delay2 revealator-position-partially-below">
                    <i class="s5-item-quote fa fa-quote-left"></i>
                    <p>Помогли мне сэкономить 10 проценов от моей покупки</p>
                    <div class="s5-item-user flex-container">
                        <div>
                            <img class="img-circle" src="/build/images/sites/onliner300x300.jpg">
                        </div>
                        <div class="desc">
                            <h5>Хмылко Владимир</h5>
                            <span>Программист</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="s6">
        <div class="s6-inner s-inner">
            <div class="s6-heading">
                <h3>Последние новости</h3>
                <div class="divider-default"></div>
            </div>


            <div class="flex-container s6-flex-container">
                <div class="s6-item">
                    <div class="s6-item-header"></div>
                    <div class="s6-item-body">
                        <div class="data"><i class="icon-calendar fa fa-calendar"></i>12/08/2018 12:38</div>
                        <h5>Добавление новых тем к кабинету</h5>
                    </div>
                </div>

                <div class="s6-item">
                    <div class="s6-item-header"></div>
                    <div class="s6-item-body">
                        <div class="data"><i class="icon-calendar fa fa-calendar"></i>12/08/2018 12:38</div>
                        <h5>Добавление новых тем к кабинету</h5>
                    </div>
                </div>

                <div class="s6-item">
                    <div class="s6-item-header"></div>
                    <div class="s6-item-body">
                        <div class="data"><i class="icon-calendar fa fa-calendar"></i>12/08/2018 12:38</div>
                        <h5>Добавление новых тем к кабинету</h5>
                    </div>
                </div>

                <div class="s6-item">
                    <div class="s6-item-header"></div>
                    <div class="s6-item-body">
                        <div class="data"><i class="icon-calendar fa fa-calendar"></i>12/08/2018 12:38</div>
                        <h5>Добавление новых тем к кабинету</h5>
                    </div>
                </div>
                </div>
            </div>

            <div class="s6-all-button">
                <div class="button gray-button">Все новости</div>
            </div>
        </div>
    </div>

    <div class="s7">
        <div class="s7-inner s-inner">
            <div class="s7-heading">
                <h3>Контактная информация</h3>
                <div class="divider-default"></div>
            </div>
            <div class="flex-container s7-flex-container">
                <div class="s7-item">
                    <h6>Email</h6>
                    <hr>
                    <div class="s7-item-body">
                        <i class="icon-email fa fa-envelope-o"></i>
                        contact@mail.com
                    </div>
                </div>

                <div class="image-contact">

                </div>
            </div>
        </div>
    </div>

    <div class="footer-copy">
        <div class="s-inner">
        <p class="right">©&nbsp; <span class="copyright-year">2018</span>
            All Rights Reserved</p>
        </div>
    </div>

    <style>
        .footer-copy {
            padding: 20px 50px 10px 50px;
            color: #464646;
            border-top: 1px solid #ccc;
        }

        .s7 {
            background-color: #f2f3f9;
            padding-top: 50px;
            padding-bottom: 100px;
        }

        .s7 .image-contact {
            width: 300px;
            height: 200px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .s7 .s7-flex-container {
            margin: 0 auto;
            margin-top: 20px;
            justify-content: space-between;
            max-width: 900px;
        }

        .s7 .s7-heading {
            text-align: center;
        }

        .s7 hr {
            border-top: 1px solid #909090;
        }

        .s7-item {
            margin-top: 30px;
            min-width: 300px;
        }

        .s7-item h6 {
            font-size: 20px;
            font-weight: bold;
            text-align: left;
        }

        .s7-item-body {
            color: #656464;
        }

        .s7-item-body .icon-email {
            margin-right: 5px;
            font-size: 18px;
            color: #53d483;
        }

        .s6 {
            padding-top: 50px;
            padding-bottom: 100px;

        }

        .s6 .s6-flex-container {
            flex-wrap: wrap;
            justify-content: center;
        }

        .s6 .s6-all-button {
            text-align: center;
        }

        .s6 .s6-item {
            margin: 40px 20px;
        }

        .s6 .s6-heading {
            text-align: center;
        }

        .s6-item-header {
            border: 1px solid #ccc;
            width: 370px;
            height: 240px;
            border-radius: 10px;
        }

        .s6-item-body {
            margin-top: 25px;
        }

        .s6-item-body .data {
            color: #909090;
        }

        .s6-item-body .data i {
            margin-right: 10px;
            font-size: 20px;
            color: #ccc;
        }

        .s6-item-body h5 {
            color: #0796c6;
            font-size: 19px;
        }

        .s5 {
            margin-top:50px;
            min-height: 200px;
            background-size: cover;
            background-position: center center;
            background-image: url("/build/images/home/bg-05.jpg");
        }
        .s5 .s5-inner {
            text-align:center;
            color: #fff;
            padding-top: 50px;
            padding-bottom: 100px;
        }

        .s5 .s5-item {
            padding: 0 10px;
            max-width: 100%;
            margin-top: 70px;
        }

        .s5 .s5-inner .heading-group h3 {
            font-family: "Poppins", Helvetica, Arial, sans-serif;
            font-weight: 700;
        }

        .s5-item .s5-item-user {
            margin-top: 25px;
        }

        .s5-item .s5-item-user img {
            max-width:80px;
        }

        .s5-item-user .desc {
            padding-left: 20px;
            margin-top: 10px;
        }

        .s5-item-user .desc h5 {
            color: #1cd8c9;
            font-size: 18px;
            margin-bottom: 3px;
        }

        .s5-item-user .desc span {
            opacity: 0.7;
            font-size: 14px;
            letter-spacing: 0.01em;
        }

        .s5 .s5-item {
            text-align: left;
            max-width: 400px;
        }

        .s5-item .s5-item-quote {
            color: #1cd8c9;
            font-size: 35px;
        }

        .s5-item p {
            opacity: 0.8;
            margin-top: 15px;
            font-size: 16px;
            font-style: italic;
            font-weight: 300;
        }

        .s5 .s5-flex-container {
            flex-wrap: wrap;
            justify-content: center;
        }

        .s4 {
            text-align:center;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .s4 .s4-item {
            max-width: 250px;
            padding: 0 10px;
        }

        .s4 .s4-flex-container {
            margin-top: 70px;
            justify-content: center;
        }

        .s4 .s4-item-image img {
            width: 100%;
        }

        .s4-item-desc {
            margin-top: 22px;
        }

        .s4-item-desc h5 {
            color: #0796c6;
            font-weight: 400;
            font-size: 21px;
        }

        .s4-item-desc p {
            font-size: 16px;
            font-style: italic;
            color: #a7a7ad;
        }

        .img-circle {
            border-radius: 50%;
        }

        .s3 {
            background-color: #f2f3f9;
            padding-bottom: 50px;
        }

        .s3 .s3-flex-container {
            flex-wrap: wrap;
            justify-content: center;
        }

        .s3-icon {
            display: inline-block;
            font-size: 40px;
            font-weight: 300;
            color: #50e590;
        }

        .s3 .s3-flex-container .s3-item {
            max-width:100%;
            margin-top: 50px;
            padding: 0 15px;
            flex-grow: 1;
        }

        .s3 .s3-item-body {
            margin-top:16px;
            font-size: 15px;
            color: #838386;
        }

        .s3 .s3-item-top h6 {
            display: inline-block;
            margin-left:20px;
            font-size: 20px;
            font-weight: 700;
            vertical-align: top;
        }

        .heading-5 {
            margin-top: 15px;
            font-size: 19px;
            font-weight: 300;
            font-family: serif;
            letter-spacing: .02em;
            line-height: 1.41667;
        }
        .heading-8 {
            margin-top:20px;
            letter-spacing: 0.02em;
            font-size: 16px;
            line-height: 1.55556;
            color: #a0a0a0;
            font-style: italic;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .flex-container {
            display:flex;
        }

        .s2-flex-container {
            flex-direction: column;
        }




        .s2 {
            margin-top: 40px;
            margin-bottom: 50px;
        }

        .s2 .s2-desc {
            padding:0 30px;
        }

        .s2 .s2-image {
            display:none;
            text-align:center;
            margin-top: 40px;
        }

        .s2-inner {
            margin: 0 auto;
            padding: 0 15px;
        }

        .s-inner {
            margin: 0 auto;
            padding: 0;
            max-width: 95%;
        }

        .s-inner h3 {
            font-weight: bold;
        }

        .button {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 30px;
            padding: 14px 38px;
            display: inline-block;
            max-width: 100%;
            min-width: 210px;
            font-weight: 500;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            border: 2px solid;
            border-radius: 35px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            white-space: pre-wrap;
            transition: 0.5s;
        }
        .button:hover {
            background-color: rgba(204, 204, 204, 0.30196078431372547);
        }

        .blue-button:hover {
            background-color: #19b4e8;
        }
        .blue-button {
            color: #fff;
            background: #0796c6;
        }
        .gray-button:hover {
            background-color: #19b4e8;
            color: #fff;
        }

        .gray-button {
            border-color: #ededed;
        }

        .s1 {
            margin-top:50px;
            min-height: 200px;
            background-size: cover;
            background-position: center center;
            background-image: url("/build/images/home/bg-10.jpg");
        }
        .s1 .s1-inner {
            padding-top: 100px;
            padding-bottom: 100px;
            text-align:center;
            color: #fff;
        }
        .s1 .s1-inner .heading-group {
            padding: 0 10px;
            font-family: "Poppins", Helvetica, Arial, sans-serif;
            font-weight: 700;
        }

        .s1 .s1-inner .heading-group h1 {
            font-family: "Poppins", Helvetica, Arial, sans-serif;
            font-weight: 700;
            font-size: 45px;
        }
        .s1 .s1-inner .heading-group p {
            font-size: 27px;
            font-weight: 300;
        }
        .divider-default {
            background: linear-gradient(to right, #50e590 50%, #0796c6 120%);
            display: inline-block;
            border: 0;
            font-size: 0;
            line-height: 0;
            height: 3px;
            max-width: 100px;
            width: 100%;
            margin-top: 25px;
        }
        .s1-inner .desc {
            padding: 0 10px;
            font-size: 19px;
            opacity: 0.8;
            margin-top: 15px;
        }

        @media (min-width: 720px) {
            .s2 .s2-image {
                display: inline-block;
            }
            .s3 .s3-flex-container .s3-item {
                max-width: 50%;
            }
            .s5 .s5-item {
                max-width: 50%;
            }
        }

        /*@media (min-width: 768px) {*/
            /*.s-inner {*/
                /*max-width: 750px;*/
            /*}*/
        /*}*/

        /*@media (min-width: 992px) {*/
            /*.s-inner {*/
                /*max-width: 800px;*/
            /*}*/
        /*}*/

        @media (min-width: 1200px) {
            .s2-flex-container {
                flex-direction: row;
            }
            .s-inner {
                max-width: 1400px;
                padding-left:20px;
                padding-right:20px;
            }
        }
    </style>


{% endblock %}
