{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block footer %}{% endblock %}

{% block body %}
    <div class="s1">
        <div class="s1-inner hvf-animate">
            <div class="animated bounceInRight">
            <div class="heading-group">
                <h1>Мы поможем вам</h1>
                <p>Отследить скидки и цены на товары</p>
            </div>
            <div class="divider-default"></div>
            <p class="desc">Многим покупателем не хватает небольшой скидки, чтобы купить товар. <br>
                Продавцам не хватает информации о таких клиентах, чтобы сделать скидку. <br>
                Мы помогаем продавцам и покупателям понять друг друга.
            </p>
            </div>
            <div class="s1-buttons">
                <a class="button blue-button">Добавить товар</a>
                <div class="button" id="home-more">Узнать больше</div>
            </div>
        </div>
    </div>

    <div class="s2">
        <div class="s2-inner s-inner">
            <div class="flex-container s2-flex-container">
                <div class="s2-desc">
                    <div class="hvf-animate">
                        <h3 id="greatings">Всем привет! Это price-tracker.com</h3>
                        <div class="divider-default"></div>
                    </div>

                    <p class="heading-5 hvf-animate">Мы помогаем покупателям ослеживать цену товара, строить графики изменения цен с практически любых сайтов.
                    Также с помощью нашего сервиса, можно настроить оповещение о том, что цена товара упала на определенный процент.
                    </p>

                    <p class="heading-8 hvf-animate">Система автомитически следит за ценой товара. Вам не нужно каждый день заходить и отслеживать товар. Достаточно один раз
                    указать ссылку на страницу товара и указать процент, при котором нужно будет вас оповестить.
                        В личном кабинете вам будут доступны извещения о хоть каком-то увеличении или уменьшении цены товара.
                        <br> Все это абсолюно бесплатно.
                    </p>

                    <a href="{{ path('security_registration') }}" class="button gray-button hvf-animate" style="margin-left:0; margin-top:20px;">Начать бесплатно</a>

                </div>
                <div class="s2-image hvf-animate">
                    <img src="/build/images/home/graph-05.jpeg">
                </div>
            </div>
        </div>
    </div>

    <div class="s3">
        <div class="s3-inner s-inner">
            <div class="flex-container s3-flex-container">
                <div class="s3-item hvf-animate">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-line-chart"></div>
                        <h6>График цен</h6>
                    </div>
                    <div class="s3-item-body">
                        Вам будет доступна история изменения цен на товар в виде удобного графика. Вы сможете следить за честностью скидок.
                    </div>
                </div>
                <div class="s3-item hvf-animate" >
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-envelope-o"></div>
                        <h6>Оповещение</h6>
                    </div>
                    <div class="s3-item-body">
                        Вам не нужно ежедневно следить за ценой товаров на разных сайтах. Как только скидка достигнет нужного вам процента, вам придет оповещение об этом.
                    </div>
                </div>
                <div class="s3-item hvf-animate">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-dollar"></div>
                        <h6>Бесплатно</h6>
                    </div>
                    <div class="s3-item-body">
                        Сервисом можно пользоваться абсолютно бесплатно. Все что вам нужно, это зарегистрироваться и указать адрес страницы с товаром, который вас интересует.
                    </div>
                </div>
                <div class="s3-item hvf-animate">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-clock-o"></div>
                        <h6>Обновление</h6>
                    </div>
                    <div class="s3-item-body">
                        Данные о товарах обновляются ежедневно в автоматическом режиме.
                    </div>
                </div>
                <div class="s3-item hvf-animate">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-money"></div>
                        <h6>Выгода</h6>
                    </div>
                    <div class="s3-item-body">
                        Копейка рубль бережет. В личном кабинете вы всегда сможете узнать о снижении цены, даже если она не достигла нужного вам процента.
                    </div>
                </div>
                <div class="s3-item hvf-animate">
                    <div class="s3-item-top">
                        <div class="s3-icon fa fa-phone"></div>
                        <h6>Связь с продавцом</h6>
                    </div>
                    <div class="s3-item-body">
                        Если много пользователей ожидает определенную скидку на товар. Мы можем связаться с продавцом и рассказать ему об этом. Тем самым выгоду получат все.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="s4">
        <div class="s4-inner s-inner">
            <div class="">
                <h3>Отслеживаемые сайты</h3>
                <div class="divider-default"></div>
            </div>
            <div class="flex-container s4-flex-container ">
                <div class="s4-item">
                    <div class="s4-item-image">
                        <img class="img-circle" src="/build/images/sites/onliner300x300.jpg">
                    </div>
                    <div class="s4-item-desc">
                        <h5>onliner.by</h5>
                        <p>
                            Каталог магазинов
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="s5">
        <div class="s5-inner s-inner">
            <div class="">
                <div class="heading-group">
                    <h3>Отзывы</h3>
                </div>
                <div class="divider-default"></div>
            </div>
            <div class="flex-container s5-flex-container">
                <div class="s5-item">
                    <i class="s5-item-quote fa fa-quote-left"></i>
                    <p>Помогли мне сэкономить 10 проценов от моей покупки</p>
                    <div class="s5-item-user flex-container">
                        <div>
                            <img class="img-circle" src="/build/images/sites/onliner300x300.jpg">
                        </div>
                        <div class="desc">
                            <h5>Хмылко Владимир</h5>
                            <span>Программист</span>
                        </div>
                    </div>
                </div>

                <div class="s5-item">
                    <i class="s5-item-quote fa fa-quote-left"></i>
                    <p>Помогли мне сэкономить 10 проценов от моей покупки</p>
                    <div class="s5-item-user flex-container">
                        <div>
                            <img class="img-circle" src="/build/images/sites/onliner300x300.jpg">
                        </div>
                        <div class="desc">
                            <h5>Хмылко Владимир</h5>
                            <span>Программист</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="s6">
        <div class="s6-inner s-inner">
            <div class="s6-heading">
                <h3>Последние новости</h3>
                <div class="divider-default"></div>
            </div>


            <div class="flex-container s6-flex-container">
                <div class="s6-item">
                    <div class="s6-item-header"></div>
                    <div class="s6-item-body">
                        <div class="data"><i class="icon-calendar fa fa-calendar"></i>12/08/2018 12:38</div>
                        <h5>Добавление новых тем к кабинету</h5>
                    </div>
                </div>

                <div class="s6-item">
                    <div class="s6-item-header"></div>
                    <div class="s6-item-body">
                        <div class="data"><i class="icon-calendar fa fa-calendar"></i>12/08/2018 12:38</div>
                        <h5>Добавление новых тем к кабинету</h5>
                    </div>
                </div>

                <div class="s6-item">
                    <div class="s6-item-header"></div>
                    <div class="s6-item-body">
                        <div class="data"><i class="icon-calendar fa fa-calendar"></i>12/08/2018 12:38</div>
                        <h5>Добавление новых тем к кабинету</h5>
                    </div>
                </div>

                <div class="s6-item">
                    <div class="s6-item-header"></div>
                    <div class="s6-item-body">
                        <div class="data"><i class="icon-calendar fa fa-calendar"></i>12/08/2018 12:38</div>
                        <h5>Добавление новых тем к кабинету</h5>
                    </div>
                </div>
                </div>
            </div>

            <div class="s6-all-button">
                <div class="button gray-button">Все новости</div>
            </div>
        </div>
    </div>

    <div class="s7">
        <div class="s7-inner s-inner">
            <div class="s7-heading">
                <h3>Контактная информация</h3>
                <div class="divider-default"></div>
            </div>
            <div class="flex-container s7-flex-container">
                <div class="s7-item">
                    <h6>Email</h6>
                    <hr>
                    <div class="s7-item-body">
                        <i class="icon-email fa fa-envelope-o"></i>
                        contact@mail.com
                    </div>
                </div>

                <div class="image-contact">

                </div>
            </div>
        </div>
    </div>

    <div class="footer-copy">
        <div class="s-inner">
        <p class="right">©&nbsp; <span class="copyright-year">2018</span>
            All Rights Reserved</p>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
