{% extends 'profile.html.twig' %}

{% block contentTitle %}
    {{ 'l.trackers'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            {{ grid_view(products) }}
        </div>
    </div>
</div>

{% endblock %}


